.navbar {
    border-bottom: solid 1px #ddd;
}

.nav-title,
.nav-subtitle {
    text-transform: uppercase;
}

.nav-title {
    font-size: 28px;
}

.nav-subtitle {
    font-size: 22px;
    font-weight: lighter;
    font-style: italic;
}

.navbar-brand>img {
    height: 40px;
}

.section-title {
    font-weight: lighter;
    text-transform: uppercase;
}

.portfolio-item .title {
    font-size: 22px;
}

@media screen and (max-width: 780px) {

    .nav-title {
        font-size: 20px;
    }

    .nav-subtitle {
        font-size: 16px;
    }

    .portfolio-item::not(::last-child):after {
        content: " ";
        display: block;
        border-bottom: solid 1px #ddd;
        margin: 40px 0;
    }

}
